// ──  Config ───────────────────────────

include "./includes/input.kdl"
include "./includes/outputs.kdl"
include "./includes/layout.kdl"
include "./includes/startup.kdl"
include "./includes/workspaces.kdl"
include "./includes/rules.kdl"
include "./includes/binds.kdl"
include "./noctalia.kdl"

prefer-no-csd

environment {
  QT_QPA_PLATFORMTHEME "qt6ct"
}
